MYFAN_ENV=production
EXPO_PUBLIC_MYFAN_ENV=production
EXPO_PUBLIC_SUPABASE_URL=https://asnydvqsduonyidjyyzq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_MYFAN_ENV=production
NEXT_PUBLIC_SUPABASE_URL=https://asnydvqsduonyidjyyzq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
